.termine table {
	width: 100%;
	border-spacing: 0;
  }
  
  .termine thead tr,
  .termine tbody tr:nth-child(even) {
	background: #fff;
  }
  
  .termine td {
	padding: 10px;
  }
  
  .termine td.title {
	width: 50%;
  }
  
  .termine td img {
	padding-right: 5px;
  }